*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App component style */
.app{
  height: 40vh;
  background: radial-gradient(
      circle at 10% 20%,
      rgb(4, 117, 49) 0%,
      rgb(212, 214, 167) 90.2%
    );
  padding: 20px 40px;
  position: relative;
}
.ans-p{
  font-family: sans-serif;
  font-style: oblique;
  position: absolute;
  bottom: 20px;
  padding-left: 47%;
  text-shadow: 0 0 3px burlywood, 0 0 5px gainsboro;
}

/* Home component style */
.home button{
  margin: 2px 0px;
  width: 200px;
  color: #e5ebef;
  background: radial-gradient(
      circle at 10% 20%,
      rgb(250, 3, 3) 0%,
      rgb(224, 170, 11) 90.2%
    );
  padding: 10px 20px;
  border: 0px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

/* Dropdown component style */
.dropdown{
  width: 250px;
  background: radial-gradient(
      circle at 10% 20%,
      rgb(250, 3, 3) 0%,
      rgb(224, 170, 11) 90.2%
    );
  padding: 10px 20px;
}
.dropdown p{
  width: 100%;
  font-size: 18px;
  color: #e5ecf1;
  margin: 2px 0px;
  cursor: pointer;
}
.dropdown p:hover{
  background: radial-gradient(
      circle at 10% 20%,
      rgb(3, 7, 250) 0%,
      rgb(6, 210, 246) 90.2%
    );
  color: wheat;
  padding: 10px;
  font-weight: bolder;
}